Compassio/dist/
Compassio/build/
Compassio/nbproject/private/
Compassio/nbproject/jfx-impl_backup_1.xml
Compassio/nbproject/jfx-impl.xml
Compassio/nbproject/private/private.properties
Compassio/nbproject/UPDATED.TXT
